name: bebedeira_amigos
description: Jogo de beber offline "Bebedeira com Amigos"
publish_to: "none"
version: 1.0.0
environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

flutter:
  uses-material-design: true
  assets:
    - lib/assets/dados_perguntas.json
